workflows/internal/credential_resolver.json
{
  "name": "GaaP MCP Credential Resolver",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Credential Resolver - Validates and retrieves credentials for MCP tools\n// =============================================================================\n// Input: { tenant_id, tool_name, credential_types[] }\n// Output: { credentials: { type: decrypted_value }, access_logged: true }\n// \n// SECURITY:\n// - Credentials are NEVER logged\n// - Access is always audited\n// - Scope validation enforced\n// =============================================================================\n\nconst input = $input.first().json;\n\n// Validate required fields\nif (!input.tenant_id) {\n  return [{\n    json: {\n      _error: true,\n      error: {\n        code: 'CRED_MISSING_TENANT',\n        message: 'tenant_id is required'\n      }\n    }\n  }];\n}\n\nif (!input.tool_name) {\n  return [{\n    json: {\n      _error: true,\n      error: {\n        code: 'CRED_MISSING_TOOL',\n        message: 'tool_name is required'\n      }\n    }\n  }];\n}\n\nif (!input.credential_types || !Array.isArray(input.credential_types) || input.credential_types.length === 0) {\n  return [{\n    json: {\n      _error: true,\n      error: {\n        code: 'CRED_MISSING_TYPES',\n        message: 'credential_types array is required'\n      }\n    }\n  }];\n}\n\n// Pass through for database query\nreturn [{\n  json: {\n    tenant_id: input.tenant_id,\n    tool_name: input.tool_name,\n    credential_types: input.credential_types,\n    request_id: input.request_id,\n    workflow_id: input.workflow_id,\n    source_ip: input.source_ip\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Set tenant context for RLS\nSET app.current_tenant_id = '{{ $json.tenant_id }}';\n\n-- Get all requested credentials for this tenant\nSELECT \n  c.credential_id,\n  c.credential_type,\n  c.encrypted_value,\n  c.encryption_key_id,\n  c.scopes,\n  c.gaap_layer,\n  c.expires_at\nFROM gaap_mcp.credentials c\nWHERE c.tenant_id = '{{ $json.tenant_id }}'::UUID\n  AND c.credential_type = ANY(ARRAY[{{ $json.credential_types.map(t => \"'\" + t + \"'\").join(',') }}])\n  AND c.is_active = TRUE\n  AND (c.expires_at IS NULL OR c.expires_at > NOW());",
        "options": {}
      },
      "id": "get-credentials",
      "name": "Get Credentials",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, -100],
      "credentials": {
        "postgres": {
          "id": "gaap-mcp-db",
          "name": "GaaP MCP Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Process credentials - validate scopes and decrypt\n// =============================================================================\nconst crypto = require('crypto');\n\nconst inputData = $('Validate Input').first().json;\nconst credentials = $input.all().map(item => item.json);\n\nconst toolName = inputData.tool_name;\nconst requestedTypes = inputData.credential_types;\n\n// Check if all requested credentials were found\nconst foundTypes = credentials.map(c => c.credential_type);\nconst missingTypes = requestedTypes.filter(t => !foundTypes.includes(t));\n\nif (missingTypes.length > 0) {\n  return [{\n    json: {\n      _error: true,\n      error: {\n        code: 'CRED_NOT_FOUND',\n        message: `Credentials not found: ${missingTypes.join(', ')}`\n      },\n      _access_results: missingTypes.map(t => ({\n        credential_type: t,\n        access_granted: false,\n        denial_reason: 'Credential not found'\n      }))\n    }\n  }];\n}\n\n// Validate scope for each credential\nconst accessResults = [];\nconst decryptedCredentials = {};\n\nfor (const cred of credentials) {\n  const scopes = cred.scopes || [];\n  const hasAccess = scopes.includes(toolName) || scopes.includes('*');\n  \n  if (!hasAccess) {\n    accessResults.push({\n      credential_id: cred.credential_id,\n      credential_type: cred.credential_type,\n      access_granted: false,\n      denial_reason: `Tool '${toolName}' not in allowed scopes`\n    });\n    continue;\n  }\n  \n  // Decrypt credential\n  // In production: Use proper KMS integration based on encryption_key_id\n  // For now: Support both encrypted and plaintext formats\n  let decryptedValue;\n  try {\n    const encValue = cred.encrypted_value;\n    const parts = encValue.split(':');\n    \n    if (parts.length === 3) {\n      // Format: {iv}:{ciphertext}:{authTag}\n      // For demo: Return ciphertext as-is (would decrypt with KMS in production)\n      // In production: \n      // const iv = Buffer.from(parts[0], 'hex');\n      // const ciphertext = Buffer.from(parts[1], 'hex');\n      // const authTag = Buffer.from(parts[2], 'hex');\n      // const key = await getKeyFromKMS(cred.encryption_key_id);\n      // const decipher = crypto.createDecipheriv('aes-256-gcm', key, iv);\n      // decipher.setAuthTag(authTag);\n      // decryptedValue = decipher.update(ciphertext) + decipher.final('utf8');\n      \n      // Placeholder for demo:\n      decryptedValue = parts[1];\n    } else {\n      // Plaintext for development\n      decryptedValue = encValue;\n    }\n  } catch (e) {\n    accessResults.push({\n      credential_id: cred.credential_id,\n      credential_type: cred.credential_type,\n      access_granted: false,\n      denial_reason: 'Decryption failed'\n    });\n    continue;\n  }\n  \n  // Success\n  accessResults.push({\n    credential_id: cred.credential_id,\n    credential_type: cred.credential_type,\n    access_granted: true,\n    denial_reason: null\n  });\n  \n  decryptedCredentials[cred.credential_type] = decryptedValue;\n}\n\n// Check if all required credentials were successfully resolved\nconst deniedTypes = accessResults.filter(r => !r.access_granted).map(r => r.credential_type);\n\nif (deniedTypes.length > 0) {\n  return [{\n    json: {\n      _error: true,\n      error: {\n        code: 'CRED_ACCESS_DENIED',\n        message: `Access denied for credentials: ${deniedTypes.join(', ')}`\n      },\n      _access_results: accessResults\n    }\n  }];\n}\n\n// Return resolved credentials\nreturn [{\n  json: {\n    credentials: decryptedCredentials,\n    _access_results: accessResults\n  }\n}];"
      },
      "id": "process-credentials",
      "name": "Process Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Log credential access attempts\n{{ $json._access_results.map(r => `\nINSERT INTO gaap_mcp.credential_access_log (\n  credential_id,\n  tenant_id,\n  tool_name,\n  workflow_id,\n  request_id,\n  access_granted,\n  denial_reason,\n  source_ip\n) VALUES (\n  ${r.credential_id ? \"'\" + r.credential_id + \"'::UUID\" : 'NULL'},\n  '${$('Validate Input').first().json.tenant_id}'::UUID,\n  '${$('Validate Input').first().json.tool_name}',\n  ${$('Validate Input').first().json.workflow_id ? \"'\" + $('Validate Input').first().json.workflow_id + \"'\" : 'NULL'},\n  ${$('Validate Input').first().json.request_id ? \"'\" + $('Validate Input').first().json.request_id + \"'\" : 'NULL'},\n  ${r.access_granted},\n  ${r.denial_reason ? \"'\" + r.denial_reason.replace(/'/g, \"''\") + \"'\" : 'NULL'},\n  ${$('Validate Input').first().json.source_ip ? \"'\" + $('Validate Input').first().json.source_ip + \"'::INET\" : 'NULL'}\n);\n`).join('') }}",
        "options": {}
      },
      "id": "log-access",
      "name": "Log Access",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, -100],
      "credentials": {
        "postgres": {
          "id": "gaap-mcp-db",
          "name": "GaaP MCP Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return final result (credentials or error)\nconst processResult = $('Process Credentials').first().json;\n\nif (processResult._error) {\n  return [{\n    json: {\n      _error: true,\n      error: processResult.error,\n      access_logged: true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    credentials: processResult.credentials,\n    access_logged: true\n  }\n}];"
      },
      "id": "return-result",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -100]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credentials": {
      "main": [
        [
          {
            "node": "Process Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Credentials": {
      "main": [
        [
          {
            "node": "Log Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Access": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "gaap-mcp"
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 0,
  "tags": [
    {
      "name": "gaap-mcp",
      "createdAt": "2025-01-11T00:00:00.000Z",
      "updatedAt": "2025-01-11T00:00:00.000Z"
    },
    {
      "name": "internal",
      "createdAt": "2025-01-11T00:00:00.000Z",
      "updatedAt": "2025-01-11T00:00:00.000Z"
    }
  ]
}
