workflows/_router/gaap_tool_gateway.json
{
  "name": "GaaP MCP Tool Gateway",
  "nodes": [
    {
      "id": "webhook-entry",
      "name": "Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "gaap-mcp-gateway",
      "parameters": {
        "httpMethod": "POST",
        "path": "gaap-mcp/invoke",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "validate-request",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const startTime = Date.now();\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\nconst requestId = body.meta?.request_id || `GAAP-${Date.now()}-${Math.random().toString(36).substring(2, 8)}`;\nconst requiredFields = ['tool', 'tenant_context'];\nconst missingFields = requiredFields.filter(f => !body[f]);\nif (missingFields.length > 0) return [{json: {_error: true, error: {code: 'MCP_INVALID_REQUEST', message: `Missing required fields: ${missingFields.join(', ')}`, recoverable: false}, meta: {request_id: requestId, execution_ms: Date.now() - startTime, gaap_layer: 'MCP'}}}];\nconst tenantContext = body.tenant_context;\nif (!tenantContext.tenant_id) return [{json: {_error: true, error: {code: 'MCP_INVALID_TENANT_CONTEXT', message: 'tenant_context.tenant_id is required', recoverable: false}, meta: {request_id: requestId, execution_ms: Date.now() - startTime, gaap_layer: 'MCP'}}}];\nconst authHeaders = {tenantId: headers['x-tenant-id'] || headers['X-Tenant-ID'], apiKey: headers['x-api-key'] || headers['X-API-Key'], timestamp: headers['x-timestamp'] || headers['X-Timestamp'], nonce: headers['x-nonce'] || headers['X-Nonce'], signature: headers['x-signature'] || headers['X-Signature']};\nconst requiredHeaders = ['tenantId', 'apiKey', 'timestamp', 'nonce', 'signature'];\nconst missingHeaders = requiredHeaders.filter(h => !authHeaders[h]);\nif (missingHeaders.length > 0) return [{json: {_error: true, error: {code: 'MCP_MISSING_AUTH_HEADERS', message: 'Missing required headers', recoverable: false}, meta: {request_id: requestId, execution_ms: Date.now() - startTime, gaap_layer: 'MCP'}}}];\nif (authHeaders.tenantId !== tenantContext.tenant_id) return [{json: {_error: true, error: {code: 'MCP_TENANT_MISMATCH', message: 'X-Tenant-ID header must match tenant_context.tenant_id', recoverable: false}, meta: {request_id: requestId, execution_ms: Date.now() - startTime, gaap_layer: 'MCP'}}}];\nconst toolLayerMap = {'gaap_identity_verify': 'L1', 'gaap_policy_evaluate': 'L2', 'gaap_policy_publish_intent': 'L2', 'gaap_khqr_generate': 'L3', 'gaap_khqr_verify_settlement': 'L3', 'gaap_audit_log_event': 'L4', 'gaap_aml_screen': 'L4'};\nconst toolName = body.tool;\nconst gaapLayer = toolLayerMap[toolName];\nif (!gaapLayer) return [{json: {_error: true, error: {code: 'MCP_UNKNOWN_TOOL', message: `Unknown tool: ${toolName}`, recoverable: false}, meta: {request_id: requestId, execution_ms: Date.now() - startTime, gaap_layer: 'MCP'}}}];\nreturn [{json: {_startTime: startTime, request_id: requestId, tool: toolName, gaap_layer: gaapLayer, tenant_context: tenantContext, params: body.params || {}, meta: body.meta || {}, auth: authHeaders, raw_body: JSON.stringify(body), source_ip: headers['x-forwarded-for'] || 'unknown'}}];"
      }
    },
    {
      "id": "check-validation-error",
      "name": "Check Validation Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "verify-auth",
      "name": "Verify Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst data = $input.first().json;\nconst startTime = data._startTime;\nconst requestId = data.request_id;\nconst requestTimestamp = parseInt(data.auth.timestamp, 10);\nconst now = Date.now();\nconst maxAge = 5 * 60 * 1000;\nif (isNaN(requestTimestamp)) return [{json: {_error: true, error: {code: 'MCP_INVALID_TIMESTAMP', message: 'X-Timestamp must be a valid Unix timestamp', recoverable: false}, meta: {request_id: requestId, execution_ms: Date.now() - startTime, gaap_layer: 'MCP'}}}];\nif (requestTimestamp < now - maxAge || requestTimestamp > now + 60000) return [{json: {_error: true, error: {code: 'MCP_TIMESTAMP_EXPIRED', message: 'Request timestamp is outside acceptable window', recoverable: true}, meta: {request_id: requestId, execution_ms: Date.now() - startTime, gaap_layer: 'MCP'}}}];\nconst bodyHash = crypto.createHash('sha256').update(data.raw_body).digest('hex');\nconst canonicalString = `POST|/webhook/gaap-mcp/invoke|${data.auth.timestamp}|${data.auth.nonce}|${bodyHash}`;\nreturn [{json: {...data, _auth: {canonical_string: canonicalString, expected_signature: data.auth.signature, timestamp_ms: requestTimestamp, nonce: data.auth.nonce}}}];"
      }
    },
    {
      "id": "check-auth-error",
      "name": "Check Auth Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, -100],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-auth-error",
              "leftValue": "={{ $json._error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "verify-signature-stub",
      "name": "Verify Signature (Stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -200],
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nreturn [{json: {...inputData, _auth_verified: true}}];"
      }
    },
    {
      "id": "check-nonce-stub",
      "name": "Check Nonce (Stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -200],
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nreturn [{json: {...inputData, _nonce_verified: true}}];"
      }
    },
    {
      "id": "check-rate-limit-stub",
      "name": "Check Rate Limit (Stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -200],
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nreturn [{json: {...inputData, _rate_limit_ok: true}}];"
      }
    },
    {
      "id": "dispatch-tool",
      "name": "Dispatch Tool",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "audit-check",
              "leftValue": "={{ $json.tool }}",
              "rightValue": "gaap_audit_log_event",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "execute-audit-log",
      "name": "Execute Audit Log",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, -300],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "yEHuyUc77ReheE6F"
        },
        "options": {}
      }
    },
    {
      "id": "check-khqr-tool",
      "name": "Check KHQR Tool",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "khqr-check",
              "leftValue": "={{ $json.tool }}",
              "rightValue": "gaap_khqr_generate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "execute-khqr",
      "name": "Execute KHQR Generate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, -500],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "aW3qmBkEQNvQNqQ3"
        },
        "options": {}
      }
    },
    {
      "id": "check-policy-tool",
      "name": "Check Policy Tool",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -600],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "policy-check",
              "leftValue": "={{ $json.tool }}",
              "rightValue": "gaap_policy_evaluate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "execute-policy",
      "name": "Execute Policy Evaluate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, -700],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "PaKMq5XXHMqPu3XC"
        },
        "options": {}
      }
    },
    {
      "id": "check-settlement-tool",
      "name": "Check Settlement Tool",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -800],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "settlement-check",
              "leftValue": "={{ $json.tool }}",
              "rightValue": "gaap_khqr_verify_settlement",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "execute-settlement",
      "name": "Execute Settlement Verify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, -900],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b8XZBPtKZ4CPSGH1",
          "mode": "id"
        },
        "options": {}
      }
    },
    {
      "id": "check-publish-intent-tool",
      "name": "Check Publish Intent Tool",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -1000],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-publish-intent",
              "leftValue": "={{ $json.tool }}",
              "rightValue": "gaap_policy_publish_intent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "execute-publish-intent",
      "name": "Execute Publish Intent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, -1100],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "BN1rWzBbxymYxbCE"
        },
        "options": {}
      }
    },
    {
      "id": "check-identity-tool",
      "name": "Check Identity Tool",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -1200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "identity-check",
              "leftValue": "={{ $json.tool }}",
              "rightValue": "gaap_identity_verify",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "execute-identity-verify",
      "name": "Execute Identity Verify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, -1300],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2INT2fn8LAQHacYB",
          "mode": "id"
        }
      }
    },
    {
      "id": "check-aml-tool",
      "name": "Check AML Tool",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -1400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "aml-check",
              "leftValue": "={{ $json.tool }}",
              "rightValue": "gaap_aml_screen",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "execute-aml-screen",
      "name": "Execute AML Screen",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, -1500],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "us6RXQCbb2ooufhI",
          "mode": "id"
        }
      }
    },
    {
      "id": "tool-not-implemented",
      "name": "Tool Not Implemented",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100],
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst startTime = inputData._startTime;\nreturn [{json: {_error: true, error: {code: 'MCP_TOOL_NOT_IMPLEMENTED', message: `Tool '${inputData.tool}' is not yet implemented`, recoverable: false}, meta: {request_id: inputData.request_id, execution_ms: Date.now() - startTime, gaap_layer: inputData.gaap_layer}}}];"
      }
    },
    {
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -200],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nif (result._error || result.error) {\n  const error = result.error || result;\n  return [{json: {success: false, error: {code: error.code || 'MCP_UNKNOWN_ERROR', message: error.message || 'An unknown error occurred', recoverable: error.recoverable !== undefined ? error.recoverable : false}, meta: result.meta || {request_id: 'unknown', execution_ms: 0, gaap_layer: 'MCP', camdl_anchored: false}}}];\n}\nreturn [{json: {success: true, result: {data: result.data || result, correlation_id: result.correlation_id, audit_event_id: result.audit_event_id}, meta: {request_id: result.meta?.request_id || result.request_id, execution_ms: result.meta?.execution_ms || 0, gaap_layer: result.meta?.gaap_layer || 'MCP', camdl_anchored: result.camdl_anchored || false}}}];"
      }
    },
    {
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2420, -200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Entry": {
      "main": [[{"node": "Validate Request", "type": "main", "index": 0}]]
    },
    "Validate Request": {
      "main": [[{"node": "Check Validation Error", "type": "main", "index": 0}]]
    },
    "Check Validation Error": {
      "main": [
        [{"node": "Build Response", "type": "main", "index": 0}],
        [{"node": "Verify Auth", "type": "main", "index": 0}]
      ]
    },
    "Verify Auth": {
      "main": [[{"node": "Check Auth Error", "type": "main", "index": 0}]]
    },
    "Check Auth Error": {
      "main": [
        [{"node": "Build Response", "type": "main", "index": 0}],
        [{"node": "Verify Signature (Stub)", "type": "main", "index": 0}]
      ]
    },
    "Verify Signature (Stub)": {
      "main": [[{"node": "Check Nonce (Stub)", "type": "main", "index": 0}]]
    },
    "Check Nonce (Stub)": {
      "main": [[{"node": "Check Rate Limit (Stub)", "type": "main", "index": 0}]]
    },
    "Check Rate Limit (Stub)": {
      "main": [[{"node": "Dispatch Tool", "type": "main", "index": 0}]]
    },
    "Dispatch Tool": {
      "main": [
        [{"node": "Execute Audit Log", "type": "main", "index": 0}],
        [{"node": "Check KHQR Tool", "type": "main", "index": 0}]
      ]
    },
    "Check KHQR Tool": {
      "main": [
        [{"node": "Execute KHQR Generate", "type": "main", "index": 0}],
        [{"node": "Check Policy Tool", "type": "main", "index": 0}]
      ]
    },
    "Check Policy Tool": {
      "main": [
        [{"node": "Execute Policy Evaluate", "type": "main", "index": 0}],
        [{"node": "Check Settlement Tool", "type": "main", "index": 0}]
      ]
    },
    "Check Settlement Tool": {
      "main": [
        [{"node": "Execute Settlement Verify", "type": "main", "index": 0}],
        [{"node": "Check Publish Intent Tool", "type": "main", "index": 0}]
      ]
    },
    "Check Publish Intent Tool": {
      "main": [
        [{"node": "Execute Publish Intent", "type": "main", "index": 0}],
        [{"node": "Check Identity Tool", "type": "main", "index": 0}]
      ]
    },
    "Check Identity Tool": {
      "main": [
        [{"node": "Execute Identity Verify", "type": "main", "index": 0}],
        [{"node": "Check AML Tool", "type": "main", "index": 0}]
      ]
    },
    "Check AML Tool": {
      "main": [
        [{"node": "Execute AML Screen", "type": "main", "index": 0}],
        [{"node": "Tool Not Implemented", "type": "main", "index": 0}]
      ]
    },
    "Execute Audit Log": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Execute KHQR Generate": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Execute Policy Evaluate": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Execute Settlement Verify": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Execute Publish Intent": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Execute Identity Verify": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Execute AML Screen": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Tool Not Implemented": {
      "main": [[{"node": "Build Response", "type": "main", "index": 0}]]
    },
    "Build Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
